%p.title Περί
%p
  Η εκπομπή εκθέτει το έργο και το πνεύμα ανθρώπων του 20ου και 21ου αιώνα.
  Οι συνεντευξιαζόμενοι προέρχονται από τον χώρο της τέχνης, του πολιτισμού, της φιλοσοφίας, του ευρύτερου επαγγελματικού και του ερευνητικού πεδίου. Προσωπικότητες που με το έργο και τη σκέψη τους επηρεάζουν τον κόσμο μας.
  Κάθε επεισόδιο είναι ένα προσεγμένο ταξίδι στον χρόνο και στις ιδέες. 
%br
  Ο παρουσιαστής αφιερώνει χρόνο για να μελετήσει τη ζωή και το έργο των καλεσμένων, φωτίζοντας όχι μόνο τη δημόσια εικόνα τους, αλλά και την ουσία της προσωπικότητάς τους.
  Θα βρείτε αφιερώματα σε ανθρώπους του παρελθόντος και ζωντανές συνεντεύξεις.
  Οι θεματικές της εκπομπής συχνά επεκτείνονται σε διαφορετικές κατευθύνσεις, δίνοντας τον απαραίτητο χρόνο στους προσεκτικά επιλεγμένους καλεσμένους.
%br
  Η εκπομπή διατίθεται σε δύο εκδόσεις. Την <strong>πλήρη έκδοση</strong>, όπως μεταδόθηκε από το τρίτο πρόγραμμα και στην <strong>τροποποιημένη έκδοση</strong> όπου έχουν διαγραφή μερικός ή εξ ολοκλήρου μουσικές επιλογές.
  Η τροποποιημένη εκδοχή δημοσιεύεται ως podcast. Η τροποποίηση γίνεται αποκλειστικά για την αποφυγή προβλημάτων με πνευματικά δικαιώματα που προκύπτουν από την δημοσίευση στις πλατφόρμες διαμοιρασμού.
%br
  Σκοπός της ιστοσελίδας είναι να δομήσει το αρχείο των εκπομπών προς διευκόλυνση του κοινού και η διανομή της εκπομπής ως <a href="https://el.wikipedia.org/wiki/Podcasting">podcast</a>.
  Η σελίδα είναι διαθέσιμη στο αποθετήριο κώδικα github. Τα αρχεία <code>mp3</code> φιλοξενούνται στο <a href="https://archive.org">αρχείο του διαδικτύου</a>.
  Για την δημιουργία της ιστοσελίδας χρεισημοποιήθηκαν αποκλειστικά τεχνολογίες ανοιχτού λογισμικού. Συγκεκριμένα
  %a{:href => "https://middlemanapp.com/"} Middleman
  ,
  %a{:href => "https://bulma.io"} Bulma CSS
  ,
  %a{:href => "https://fontawesome.com/"} FontAwesome
  ,
  %a{:href => "https://www.ruby-lang.org/en/"} Ruby
  και
  %a{:href => "https://inkscape.org/"} Inkscape.
