%p.title Η εκπομπή

%p
  Την εκπομπή "Τιμής Ένεκεν" επιμελείται και παρουσιάζει ο <a href="https://el.wikipedia.org/wiki/%CE%94%CE%B1%CF%85%CE%AF%CE%B4_%CE%9D%CE%B1%CF%87%CE%BC%CE%AF%CE%B1%CF%82">Δαυίδ Ναχμίας</a> στο τρίτο πρόγραμμα Ελληνικής ραδιοφωνίας, κάθε Σάββατο στις 13:00 ώρα Ελλάδος.
  Η εκπομπή εκθέτει το έργο και το πνεύμα Ελλήνων του 20ου και 21ου αιώνα.

%hr

%p.title Ιστοσελίδα

%p
  Σκοπός της ιστοσελίδας είναι να δομήσει το αρχείο των εκπομπών προς διευκόλυνση του κοινού, η διανομή της εκπομπής ως <a href="https://el.wikipedia.org/wiki/Podcasting">podcast</a>.

%p Η σελίδα είναι διαθέσιμη στο αποθετήριο κώδικα github. Τα αρχεία <code>mp3</code> φιλοξενούνται στο <a href="https://archive.org">αρχείο του διαδικτύου</a>.

%br

%p
  Η ιστοσελίδα έχει δημιουργηθεί αποκλειστικά με τεχνολογίες ανοιχτού λογισμικού. Συγκεκριμένα:
  %ul
    %li
      %a{:href => "https://middlemanapp.com/"} Middleman
    %li
      %a{:href => "https://bulma.io"} Bulma CSS
    %li
      %a{:href => "https://fontawesome.com/"} FontAwesome
    %li
      %a{:href => "https://www.ruby-lang.org/en/"} Ruby

