%p.title Περί
%p
  Η εκπομπή αναδεικνύει το έργο και το πνεύμα ανθρώπων του 20ού και 21ου αιώνα.
  Οι συνεντευξιαζόμενοι προέρχονται από τους χώρους της τέχνης, του πολιτισμού, της φιλοσοφίας, του ευρύτερου επαγγελματικού και του ερευνητικού πεδίου. Πρόκειται για προσωπικότητες που, με το έργο και τη σκέψη τους, επηρεάζουν τον κόσμο μας.
  Κάθε επεισόδιο είναι ένα προσεγμένο ταξίδι στον χρόνο και στις ιδέες. 
%br/
%p
  Ο παρουσιαστής αφιερώνει χρόνο για να μελετήσει τη ζωή και το έργο των καλεσμένων, φωτίζοντας όχι μόνο τη δημόσια εικόνα τους αλλά και την ουσία της προσωπικότητάς τους.
  Θα βρείτε αφιερώματα σε ανθρώπους του παρελθόντος καθώς και ζωντανές συνεντεύξεις.
  Οι θεματικές της εκπομπής συχνά επεκτείνονται σε διαφορετικές κατευθύνσεις, δίνοντας τον απαραίτητο χρόνο στους προσεκτικά επιλεγμένους καλεσμένους.
%br/
%p
  Η εκπομπή διατίθεται σε δύο εκδόσεις: την <strong>πλήρη έκδοση</strong>, όπως μεταδόθηκε από το Τρίτο Πρόγραμμα, και την <strong>τροποποιημένη έκδοση</strong>, από την οποία έχουν αφαιρεθεί μερικώς ή εξ ολοκλήρου οι μουσικές επιλογές.
  Η τροποποιημένη εκδοχή δημοσιεύεται ως podcast. Η αλλαγή αυτή γίνεται αποκλειστικά για την αποφυγή προβλημάτων πνευματικών δικαιωμάτων που προκύπτουν από τη δημοσίευση στις πλατφόρμες διαμοιρασμού.
%br/
%p
  Σκοπός της ιστοσελίδας είναι η δημιουργία αρχείου των εκπομπών για τη διευκόλυνση του κοινού, καθώς και η διανομή της εκπομπής ως 
  %a{href: "https://el.wikipedia.org/wiki/Podcasting"} podcast.
  Η σελίδα είναι διαθέσιμη στο αποθετήριο κώδικα
  %a{href: "https://github.com/timis-eneken/timis-eneken.github.io"}timis-eneken
  στο GitHub. Τα αρχεία <code>mp3</code> φιλοξενούνται στο 
  %a{href: "https://archive.org"} αρχείο του διαδικτύου.
  Για τη δημιουργία της ιστοσελίδας χρησιμοποιήθηκαν αποκλειστικά τεχνολογίες ανοιχτού λογισμικού, όπως:
  %a{href: "https://middlemanapp.com/"} Middleman,
  %a{href: "https://bulma.io"} Bulma CSS,
  %a{href: "https://fontawesome.com/"} FontAwesome,
  %a{href: "https://www.ruby-lang.org/en/"} Ruby
  και
  %a{href: "https://inkscape.org/"} Inkscape.

