%footer
  .container
    .content.has-text-centered
      %a{:href => "https://www.timen.gr", :property => "dct:title", :rel => "cc:attributionURL"} Το περιεχόμενο
      δημιουργήθηκε από τον
      %a{:href => "https://www.facebook.com/DavidNachmias-35970025220/", :property => "cc:attributionName", :rel => "cc:attributionURL dct:creator"} Δαυίβ Ναχμία
      και διατίθεται υπό την άδεια
      %a{:href => "https://creativecommons.org/licenses/by-nc-nd/4.0/deed.el", :rel => "license noopener noreferrer", :style => "display:inline-block;", :target => "_blank"}
        CC BY-NC-ND 4.0
        %img{:src => "https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1", :style => "height:22px!important;margin-left:3px;vertical-align:text-bottom;"}/
        %img{:src => "https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1", :style => "height:22px!important;margin-left:3px;vertical-align:text-bottom;"}/
        %img{:src => "https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1", :style => "height:22px!important;margin-left:3px;vertical-align:text-bottom;"}/
        %img{:src => "https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1", :style => "height:22px!important;margin-left:3px;vertical-align:text-bottom;"}/
      %p
        Σχεδιασμός, δημιουργία κι επιμέλεια ιστοσελίδας
        = succeed "." do
          %a{:href => "mailto:p.atmatzidis@gmail.com"}
            Παναγιώτης Ατματζίδης
      %p
