.container
  %section.hero.is-black.is-small
    .hero-body
      .columns
        .column.is-two-thirds
          %a{:href => "https://www.timen.gr"}
            %img.pt-2{:src => "/assets/images/timen-logo-web.svg"}/
        .column.is-one-third
          %img.pt-2{:alt => "Navid Nachmias Profile Picture", :src => "/assets/images/david-nachmias.jpg"}/
