%meta{:charset => "utf-8"}
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "Δαυίβ Ναχμίας", :name => "author"}
%meta{:content => "Ιστοσελίδα της εκπομπής 'τιμής ένεκεν'", :name => "description"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
%link{:href => "/assets/stylesheets/bulma.0.9.1.min.css", :rel => "stylesheet"}
%link{:href => "/assets/stylesheets/all.css", :rel => "stylesheet"}
