%section.hero.is-small
  .hero-body
    .columns.is-mobile
      .column.is-three-fifths
        %p
          Αφιερωματική σελίδα της εκπομπής <strong>Τιμής Ένεκεν</strong>.
        %p
          Η εκπομπή μεταδίδεται κάθε <strong>Σάββατο 13:00 ώρα Ελλάδος</strong> από το
          = succeed "." do
            %a{href: "https://webradio.ert.gr/trito/"} Τρίτο Πρόγραμμα
            της Ελληνικής Ραδιοφωνίας
        %br/
        %p
          Η εκπομπή αναδεικνύει το έργο και το πνεύμα ανθρώπων του 20ού και 21ου αιώνα.
        %p
          Οι συνεντευξιαζόμενοι προέρχονται από τους χώρους της τέχνης, του πολιτισμού, της φιλοσοφίας, του ευρύτερου επαγγελματικού και του ερευνητικού πεδίου. Προσωπικότητες που με το έργο και τη σκέψη τους επηρεάζουν τον κόσμο μας.
          Κάθε επεισόδιο είναι ένα προσεγμένο ταξίδι στον χρόνο και στις ιδέες.
        %br/
        %p
          Η τροποποιημένη έκδοση της εκπομπής είναι διαθέσιμη ως <strong>podcast</strong> σε επιλεγμένες πλατφόρμες διαμοιρασμού.
      .columns
        .column.is-half
          %a{href: "https://webradio.ert.gr/trito/"}
            %figure.image.is-128x128
              %img{alt: "Trito Programma Banner", src: "/assets/media/images/trito-programma-banner.jpg"}/
        .column.is-half
          %a{href: "https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=1560945770"}
            %figure.image
              %img{alt: "Apple Podcast Banner", src: "/assets/media/images/apple-podcast-listen.svg"}/
          %br/
          %a{href: "https://podcasts.google.com/feed/aHR0cHM6Ly90aW1pcy1lbmVrZW4uZ2l0aHViLmlvL3BvZGNhc3QueG1s"}
            %figure.image
              %img{alt: "Google Podcast Banner", src: "/assets/media/images/google-podcast-listen.svg"}/
          %br/
          %a{href: "https://open.spotify.com/show/4EHrfThi3ZbSHvsvOFFUN7"}
            %figure.image
              %img{alt: "Spotify Podcast Banner", src: "/assets/media/images/spotify-podcast-badge-blk-wht-330x80.svg"}/

